@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}

.slick-prev,
.slick-next {
  @apply hidden !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  @apply bg-black bg-opacity-75 !important;
}

ul.slick-dots {
  @apply absolute text-left w-full p-0 m-0 -bottom-[33%] -translate-y-[33%] hidden md:block !important;
}

ul.slick-dots li {
  @apply w-1/5 box-border h-auto m-0 !important;
}

ul.slick-dots :nth-child(1),
ul.slick-dots :nth-child(2),
ul.slick-dots :nth-child(3) {
  @apply mr-[6.5%] !important;
}

li.slick-active {
  @apply after:bg-white after:bg-opacity-60 after:w-full after:h-full after:absolute after:z-20 after:top-0 
  after:rounded-xl after:border-2 after:border-oranges;
}
